html{
    color: cadetblue;
    background-color: burlywood;
    font-size: 2rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50%;
}

button{
    cursor: pointer;
    border-radius: 79%;
    padding: 20px;
    color: brown;
}

button:hover{
    scale: 1.1;
}